body{
    background: rgba(242,244,236,1);
    background: -moz-linear-gradient(-45deg, rgba(242,244,236,1) 0%, rgba(223,227,211,1) 0%, rgba(196,202,175,1) 0%, rgba(239,246,218,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(242,244,236,1)), color-stop(0%, rgba(223,227,211,1)), color-stop(0%, rgba(196,202,175,1)), color-stop(100%, rgba(239,246,218,1)));
    background: -webkit-linear-gradient(-45deg, rgba(242,244,236,1) 0%, rgba(223,227,211,1) 0%, rgba(196,202,175,1) 0%, rgba(239,246,218,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(242,244,236,1) 0%, rgba(223,227,211,1) 0%, rgba(196,202,175,1) 0%, rgba(239,246,218,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(242,244,236,1) 0%, rgba(223,227,211,1) 0%, rgba(196,202,175,1) 0%, rgba(239,246,218,1) 100%);
    background: linear-gradient(135deg, rgba(242,244,236,1) 0%, rgba(223,227,211,1) 0%, rgba(196,202,175,1) 0%, rgba(239,246,218,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f4ec', endColorstr='#eff6da', GradientType=1 );
}
main{
    display: grid;
    place-items: center;
}